.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.current {
  color: #188CE8;
}

.link.current {
  color: #188CE8;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container-hero, .container-clients {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__button {
  padding: 6px 22px;
}

.container-cards {
  padding: 20px 24px;
}

/* Buttons */
.list-progect__button {
  color: #000000;
  background-color: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  -webkit-transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-progect__button:hover, .list-progect__button:focus,
.list-progect__button .active-button {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  color: #ffffff;
  background-color: #2196F3;
  padding: 0;
  width: 216px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  font-family: inherit;
}
.button:hover, .button:focus,
.button .active-button {
  color: #ffffff;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-progect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}
.list-progect .list-progect__item:not(:last-child) {
  margin-right: 8px;
}

.line {
  border: 1px solid #ECECEC;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

header {
  background-color: #ffffff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-navigation {
  display: inline-block;
  margin-right: 93px;
  padding: 25px 0;
}

.logo-navigation__text {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-navigation,
.logo-footer {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.list-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-left: 0;
}
.list-navigation .item-navigation:not(:last-child) {
  margin-right: 50px;
}

.item-navigation__link {
  color: #000000;
  padding: 32px 0;
}
.item-navigation__link:hover, .item-navigation__link:focus {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-adress {
  margin-left: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-adress .item-adress:not(:last-child) {
  margin-right: 50px;
}

.item-adress:hover, .item-adress:focus .item-adress__icon {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-adress__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-adress__link:hover, .item-adress__link:focus {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-adress__link:hover .item-adress__icon {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-adress__phone {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-adress__phone:hover, .item-adress__phone:focus {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-adress__phone:hover .item-adress__icon {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-adress__icon {
  margin-right: 10px;
  fill: #AFB1B8;
}
.item-adress__icon:hover, .item-adress__icon:focus {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-adress__link:hover, .list-adress__link:focus {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link {
  color: #2196F3;
}

.item-navigation {
  position: relative;
}

.active::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  top: 45px;
  left: 0;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__text {
  margin: 0 auto 30px;
  width: 696px;
}

.hero {
  background-color: #2F303A;
  padding-top: 200px;
  text-align: center;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/main1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/main1.jpg);
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.benefits .list-benefits:not(:last-child) {
  margin-right: 30px;
}

.item-benefits {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-benefits__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.servises {
  margin-bottom: 94px;
}

.servises__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.list-servises .item-servises:not(:last-child) {
  margin-right: 30px;
}

.list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}
.list-team .item-team:not(:last-child) {
  margin-right: 30px;
}

.item-team {
  background-color: #ffffff;
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.item-team:hover, .item-team:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.item-team .item-card__icon {
  fill: #AFB1B8;
}
.item-team .list-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding: 0;
}
.item-team .item-card__link {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-team .item-card__link:hover, .item-team .item-card__link:focus {
  background-color: #2196F3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-team .item-card__link:hover .item-card__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-servises {
  position: relative;
}

.item-servises__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.social-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-card {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding-bottom: 0;
}
.item-card:nth-last-child(1) {
  margin-right: 0;
}

.item-team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-servises__image {
  display: block;
}

.item-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.item-team__spot {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: #F5F4FA;
}

.servises__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-box {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-box:hover {
  border-color: #2196F3;
}
.item-box:hover .item-box__icon {
  fill: #2196F3;
}

.item-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.item-box__icon {
  fill: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.logo-footer {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.list-adress__link {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-adress__item {
  padding: 0;
  margin-bottom: 9px;
}
.list-adress__item:nth-last-child(1) {
  margin-bottom: 0;
}

.list-adress__mail,
.list-adress__phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-adress__mail:hover, .list-adress__mail:focus,
.list-adress__phone:hover,
.list-adress__phone:focus {
  color: #2196F3;
}

.list-footer__adress {
  padding-left: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list-joinus__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.list-footer {
  margin-right: 70px;
}

.list-joinus {
  padding: 0;
}

.list-social {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding-bottom: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.list-social__item:nth-last-child(1) {
  margin-right: 0;
}
.list-social__item:hover {
  background-color: #2196F3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-social__icon {
  fill: #ffffff;
}

.footer-form {
  margin-left: auto;
  height: 86px;
}

.send-form__label {
  width: 358px;
}

.form input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.send-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.send-form__input {
  width: 358px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 16px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.send-form__input:focus {
  border: 1px solid #2196F3;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.send-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  background: #2196F3;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.send-form__button:hover, .send-form__button:focus {
  color: #ffffff;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.text_sub_s {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  padding: 40px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-btn:hover {
  fill: #2196F3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.par_txt {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: center;
  margin-bottom: 12px;
}

.span_name {
  font-weight: 400;
  text-align: start;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal_forms {
  margin-bottom: 10px;
}

.forms_input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forms_input:hover, .forms_input:focus {
  border: 1px solid #2196F3;
  outline: none;
}
.forms_input:hover + svg, .forms_input:focus + svg {
  fill: #2196F3;
}

.forms_label {
  position: relative;
}

.icon_form {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 2px;
}

.commits {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
.commits:hover, .commits:focus {
  border: 1px solid #2196F3;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.commitl {
  margin-bottom: 20px;
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

.sogl_check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sogl_check:checked + .checkbox_icon {
  background-color: #2196F3;
  background-image: url(../img/Check.svg);
  background-size: contain;
  background-origin: content-box;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.soglasie_link {
  padding-left: 3px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.checkbox_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 9px;
  cursor: pointer;
}

.modal_form_btn {
  display: block;
  margin: 30px auto 0;
  font-family: inherit;
  background: #2196F3;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_btn:hover, .modal_form_btn:focus {
  color: #ffffff;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_txt {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.soglasie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Images */
.cards {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-cards {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-cards:nth-child(3n) {
  margin-right: 0;
}

.list-cards__link {
  display: block;
  -webkit-transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-cards__link:hover .list-cards__description--hidden {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.list-cards__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-cards__link--hidden {
  display: block;
}

.list-cards__box {
  border: 1px solid #EEEEEE;
  border-top-style: none;
}

/* cards description */
.hidden {
  position: relative;
  overflow: hidden;
}

.list-cards__description--hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-cards__text--hidden {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color background-color box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-cards__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.list-cards__description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */